
.align{
    text-align: center;
    margin-top: 30px;
}
.col-md-4{
    position: relative;
}
.col-md-4 img{
    object-fit: contain;height: 400px;width: 100%;
}
.text-center{
    background-color: darkgreen;width: 100%;color: white;
}
.altr{
    object-fit: contain;height: 400px;width: 100%;position: absolute;top: 0;left: 0;right: 0;visibility: hidden;
}

